/*
---- Global Site Stylings ----
 */

body {
    background: #3b393f;
}

.fill-viewport {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: square;
}

/*
---- Stylings for the portfolio landing page ----
 */

#portfolio-landing {

}

#portfolio-landing div .lead {
    margin-bottom: 2rem;
}

#portfolio-landing .btn {
    margin: .5rem auto;
}

/*
--- Stylings for the portfolio bio page ----
 */

.bio-container {
    padding: 20px 0;
    margin: auto 0;
}

#bio-card {
    border-radius: 30px;
    overflow: hidden;
}

#bio-info {
    display: flex;
    flex-direction: column;
}

#bio-info .row {
    flex-grow: 1;
}

#bio-info .row div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*
---- Stylings for the projects page ----
 */

.project-container {
    padding: 10px 0;
}

.projects-row {
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    padding: 0 15px;
}

.projects-row h1 {
    margin-bottom: 30px;
}

.projects-row a {
    overflow: hidden;
    height: 40%;
    display: flex;
    align-content: center;
}

.projects-row .card-body {
    height: 60%;
}

.projects-row img {
}

.projects-row .card-deck {
    justify-content: center;
    margin-bottom: 15px;
}

.tutorials {
    background: deeppink;
}

.personal {
    background: darkblue;
}

@media (max-width: 768px) {
    .projects-row .card-body {
        padding: .5rem;
    }
}

@media (min-width: 576px) {
    .projects-row .card {
        max-width: 250px;
    }
}