/*
---- Global Site Stylings ----
 */

body {
    background: #000000;
}

.fill-viewport {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: square;
}

/*
---- Stylings for the portfolio landing page ----
 */

#portfolio-landing {
    background: #000000;
    color: white;
}

#portfolio-landing div .lead {
    margin-bottom: 2rem;
}

#portfolio-landing .btn {
    margin: .5rem auto;
    background: #b80c09;
    border-color: #b80c09;
    width: 320px;
}

/*
--- Stylings for the portfolio bio page ----
 */

.bio-container {
    padding: 20px 0;
    margin: auto 0;
}

#bio-card {
    border-radius: 2px;
    overflow: hidden;
    background: #394032;
    color: #fff;
}

#bio-info {
    display: flex;
    flex-direction: column;
}

#bio-info div {
    border-color: white;
}

#bio-info .row {
    flex-grow: 1;
}

#bio-info .row div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bio-info ul {
    list-style: none;
}

#bio-info li::before {
    content: "▪";
    color: #b80c09;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

#bio-info h1::after {
    content: '';
    border-bottom: 8px solid red;
    position: absolute;
    left: 30%;
    top: 85%;
    width: 40%;
}

#bio-info h6 {
    padding: 0 10px;
}

/*
---- Stylings for the projects page ----
 */

.project-container {
    padding: 10px;
}

.projects-row {
    border-radius: 2px;
    justify-content: center;
    padding: 10px 15px 0;
}

.projects-row .row {
    justify-content: center;
}

.projects-row .card {
    margin-bottom: 1rem;
}

.projects-row h1 {
    margin-bottom: 30px;
}

.projects-row .card-body {
    height: 60%;
}

.tutorials {
    background: #b80c09;
}

.tutorials .btn {
    background: #b80c09;
    border-color: #b80c09;
}

.personal {
    background: #394032;
}

.personal .btn{
    background: #394032;
    border-color: #394032;
}

.projects-row h1 {
    color: #fff;
}

#projects .modal img{
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .projects-row .card-body {
        padding: .5rem;
    }
}

/*
---- Stylings for the contact page
 */

#contact {
    color: #fff;
}

#contact-card {
    background: #b80c09;
    border-radius: 2px;
    padding: 10px 0;
}

#contact-card ul {
    list-style: none;
}

#contact-card a {
    color: #fff;
}